.contact-preview {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  width: 230px;
  /* width: 240px; */
  font-size: 17px;
  line-height: 50px;
  border-radius: 25px;
  /* background-color: #977a6f; */
  /* background-color: #f1f1f1;  */
  /* background-color:#a47726; */
  background-color: #7b5d5df2;
}
  
.contact-preview img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%; 
  border: 2px solid black;
}

span.contact-data{
  color: #37261f;
}

.contact-preview:hover{
  border: 2px solid #197d1952;
  box-shadow: 2px 8px 8px #888888;
}

@media (max-width: 480px) {
  .contact-preview{
      width: 58vw;
  }
}
