@font-face {
  font-family: "Coiny";
  src: url(./assets/fonts/Coiny-Regular.ttf);
}

.app {
      width: 80%;
      padding: 20px;
      /* border: 1px solid black; */
      border-radius: 30px;
      background-color: #d9d0c2;
      font-family: "Coiny";
      color: #846f50;
      margin: 0 auto;
      position: relative;
}

.app .app-header {
  display: flex;
  justify-content: space-around;
  padding: 8px 20px;
  border-bottom: 1px solid;
}

.app .app-header .selected {
  /* color: cadetblue; */
  color: #c69e90;
}

.app .app-content {
  padding: 20px 0 0 0;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.app [class^="flaticon-"]:before,
.app [class*=" flaticon-"]:before,
.app [class^="flaticon-"]:after,
.app [class*=" flaticon-"]:after {
  margin: 0;
}

.header-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: flex-start;
}

.app-container {
  background-image: url("./assets/bitcoin.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

button{
  font-family: "Coiny";
  border-radius: 15px;
  background-color: #a98416;
}

h1{
  /* color: #a47726; */
  color: #2c271ee6;
  margin: 0 auto;
}

.app-frame{
  /* background-color: #100f0f; */
  background-color: #453832;
  width: 50%;
  /* height: 85%; */
  border-radius: 30px;
}

.logo{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  opacity: 0.5;
}


@media (max-width: 740px) {
  .app-frame{
      width: 60%;
  }
}

@media (max-width: 630px) {
  .app-frame{
      width: 100%;
  }
}

@media (max-width: 335px) {
  h1{
     font-size: 20px;
  }
}



